.hero {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 32px;
}

.title {
  font-size: 50px;
  text-align: start;
  font-size: var(--heading-2);
  font-weight: 600;
  line-height: normal;
  letter-spacing: -2px;
  color: var(--foreground-primary);

  @media (max-width: 800px) {
    font-size: 40px;
  }
  @media (max-width: 500px) {
    font-size: 34px;
  }
}
.subtitle {
  text-align: start;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.96px;
  color: var(--foreground-secondary);
  font-size: var(--heading-5);

  @media (max-width: 800px) {
    font-size: var(--headline);
  }
  @media (max-width: 500px) {
    font-size: var(--body-large);
  }
}
.text {
  font-size: 16px;
  text-align: start;
  font-size: var(--body);
  font-weight: 400;
  line-height: 24px;
  color: var(--foreground-secondary);
}
.button {
  display: flex;
  padding: 8px 24px;
  align-items: center;
  gap: 8px;
  border-radius: 99px;
  border: 1px solid #888888;
  background-color: black;
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.button2 {
  display: flex;
  padding: 8px 16px;
  align-items: center;
  gap: 8px;
  border-radius: 99px;
  border: 1px solid #888888;
  color: rgba($color: #000000, $alpha: 0.7);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px;
}
.buttons {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 16px;
  align-self: stretch;
  flex-wrap: wrap;
}
.content {
  display: flex;
  flex-direction: column;
  min-width: 390px;
  align-items: flex-start;
  flex: 1 0 0;
  gap: 32px;
}
.image {
  display: flex;
  height: 512px;
  min-width: 420px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  width: 100%;
  border-radius: 30px;
  object-fit: cover;
}

.title,
.subtitle,
.text,
.buttons,
.image {
  opacity: 0;
  animation: fadeIn 0.75s ease-in-out forwards;
}

.title {
  animation-delay: 0.1s;
}
.subtitle {
  animation-delay: 0.2s;
}
.text {
  animation-delay: 0.3s;
}
.buttons {
  animation-delay: 0.4s;
}
.image {
  animation-delay: 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.button, .button2{
  transition: 2s cubic-bezier(0.2, 0.8 0.2, 1);
}

.carouselContainer{
}