.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; // Ensures that the layout takes up the full height of the viewport
}
.main {
  flex-grow: 1;
  padding: 40px 60px;  // More padding on wider screens
}
footer {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
}