.gallery {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping to the next line */
  gap: 16px;
  justify-content: space-between; /* Center items horizontally */
  width: 100%;
  box-sizing: border-box;
  max-width: 100%; /* Ensure it doesn’t overflow its container */
}

@media (max-width: 800px) {
  .gallery {
    justify-content: center; /* Adjust spacing for smaller screens */
  }
}

.filters {
  display: flex;
  flex-direction: row;
  column-gap: var(--body);
  align-items: center;
  justify-content: flex-end;
}
.product-grid {
  display: flex;
  flex-direction: column;
  column-gap: var(--body);
}

.selectButton {
  text-align: center;
  appearance: none;
  display: flex;
  padding: 4px 24px;
  align-items: center;
  gap: 8px;
  border-radius: 99px;
  border: 1px solid #888888;
  background-color: black;
  color: white;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}

.selectButton option{
  text-align: center;
}


@keyframes fadeUp {
  from {
      opacity: 0;
      transform: translateY(20px); /* Start slightly lower */
  }
  to {
      opacity: 1;
      transform: translateY(0); /* End at the original position */
  }
}

.fade-up {
  opacity: 0;
  animation: fadeUp 0.8s ease forwards;
  animation-delay: var(--animation-delay); /* Use a variable for stagger effect */
}